tests.txt
Gemfile.lock
*.gem
.rvmrc
.bundle/*
.yardoc/*
doc/*
tmp/*
man/*
*.tmproj
*.sqlite3
rdoc/*
*.orig
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
git_pull.txt
coverage
.DS_Store
TAGS
tmtags
*.swo
*.swp
.idea
*.py
*.pyc
